---
layout: default
description: A description about my blog homepage
---

{% for post in site.posts %}
		<div class="post">
			<h2 class="entry_title"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>
			<p class="entry_data">
				<span>Author: {{ post.author }}</span>
				<span>Date: {{ post.date | date_to_string }}</span>
				<span>Category: {% for category in post.categories %}<a rel="category tag">{{ category }}</a>{% endfor %}</span>
				<a href="{{ post.url }}#comments" title="Comments of {{ post.title }}">Comments</a>
			</p>
			{{ post.content }}
		</div>
{% endfor %}

<!--
<div id="pages">
	<h2>Pages</h2>
	<ul>
		{% for page in site.html_pages %}
		{% if page.title %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
-->
