    <div class="grid_4" id="sidebar">

                <div class="widget">
            <h3>New Posts</h3>
            <ul>
            {% for post in site.posts limit:5 %}
                <li>
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </div>
            
        <div class="widget">
            <h3>Blogroll</h3>
            <ul>
                <li><a href="http://infong.org" title="infong.org" target="_blank">我的网站</a></li>
            </ul>
        </div>
    </div><!-- end #sidebar -->
