---
layout: default
---

       <div class="post {{ page.id }}" id="{{ page.id }}">
			<h2 class="entry_title">
				<h1 class="entry-title">{{ page.title }}</h1>
			</h2>
			<p class="entry_data">
				<span>Author: {{ page.author }}</span>
				<span>Date: {{ page.date | date_to_string }}</span>
				<span>Category: {% for category in page.categories %}<a rel="category tag">{{ category }}</a>{% endfor %}</span>
				<a href="{{ page.url }}#comments" title="Comments of {{ page.title }}">Comments</a>
			</p>
			{{ content }}
			<p class="tags">Tag: {% for tag in page.tags %}<a rel="tag">{{ tag }}</a>{% endfor %}</p>
		</div>
<!--
<div id="nav-above" class="navigation">
    {% if page.previous.url %}
	<div class="nav-previous">
        <a rel="prev" href="{{ page.previous.url }}"><span class="meta-nav">←</span>{{ page.previous.title }}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
	<div class="nav-next">
        <a rel="next" href="{{ page.next.url }}">{{ page.next.title }}<span class="meta-nav">→</span></a>
    </div>
    {% endif %}
</div>--><!-- #nav-above -->

{% include disqus.html %}
